[submodule "shiny-examples"]
	path = shiny-examples
	url = https://github.com/rstudio/shiny-examples.git
	branch = master
[submodule "R/shiny-examples"]
	path = R/shiny-examples
	url = https://github.com/rstudio/shiny-examples.git
[submodule "sentiment/crypto_sentiment_analysis"]
	path = sentiment/crypto_sentiment_analysis
	url = https://github.com/samuelcouch/understanding_crypto_with_sentiment_analysis.git
[submodule "Deep-Trading"]
	path = python/Deep-Trading
	url = https://github.com/Rachnog/Deep-Trading.git
[submodule "predicting_stock_prices"]
	path = python/predicting_stock_prices
	url = https://github.com/llSourcell/predicting_stock_prices.git
[submodule "bitcoin_prediction"]
	path = python/bitcoin_prediction
	url = https://github.com/llSourcell/bitcoin_prediction.git
[submodule "stock-market-prediction-challenge"]
	path = python/stock-market-prediction-challenge
	url = https://github.com/Avhirup/Stock-Market-Prediction-Challenge.git
[submodule "ethereum_future"]
	path = python/ethereum_future
	url = https://github.com/llSourcell/ethereum_future.git
[submodule "python/nn-finance"]
	path = python/nn-finance
	url = https://github.com/BenjiKCF/Neural-Network-with-Financial-Time-Series-Data.git
[submodule "R/IKTrading"]
	path = R/IKTrading
	url = https://github.com/IlyaKipnis/IKTrading.git
[submodule "python/python-binance"]
	path = python/python-binance
	url = https://github.com/sammchardy/python-binance.git
[submodule "python/gdax-python"]
	path = python/gdax-python
	url = https://github.com/danpaquin/gdax-python.git
